{% extends 'base.html' %}
{% block content %}
{{ block.super }}
{% load static %}
{% load bootstrap3 %}

<div class="row">
    <div class="jumbotron">
    <h1 class="text-center">welcome to Homex</h1>
</div>
</div>
<div class="container">

    <div class="row">
        {% for residents_item in residents %}


        <div class="col-md-4">
            <div class="card mb-2">
                {% if residents_item.resident_image %}
                <img class="card-img-top" src="{{residents_item.resident_image.url}}"
                    height="auto" width="200px !important">
                
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ residents_item.first_name }} </h5>
                    <p class="card-text"><h4>{{ residents_item.estate }}</h4></p>
                    <a  class="btn btn-info">
                        About
                    </a>
                    <h2 class="text-center"> </h2>
                </div>
            </div>
        </div>
</div>

        {% empty %}
    </div>
    {% endfor %}
</div>

{% endblock %}